<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>小撩买菜</title>
    <link href=/css/chunk-3fcc707d.81182b67.css rel=prefetch>
    <link href=/css/chunk-4ed5d340.4a4b6a22.css rel=prefetch>
    <link href=/css/chunk-58c4b0c9.c43f97f4.css rel=prefetch>
    <link href=/css/chunk-5c443916.064b0295.css rel=prefetch>
    <link href=/css/chunk-66a740e2.6d41e36f.css rel=prefetch>
    <link href=/css/chunk-7f5a2269.4e4ea7a8.css rel=prefetch>
    <link href=/css/chunk-7f5ce79d.024583c0.css rel=prefetch>
    <link href=/css/chunk-7fb6f260.d04ce247.css rel=prefetch>
    <link href=/css/chunk-b2d4cf86.41119382.css rel=prefetch>
    <link href=/css/chunk-bd950cb4.2e33a400.css rel=prefetch>
    <link href=/css/chunk-cac4abb6.ae8ddbf5.css rel=prefetch>
    <link href=/css/chunk-f6b27106.7b922764.css rel=prefetch>
    <link href=/js/chunk-3fcc707d.fbc3edcc.js rel=prefetch>
    <link href=/js/chunk-4ed5d340.029960f5.js rel=prefetch>
    <link href=/js/chunk-58c4b0c9.ac5c5453.js rel=prefetch>
    <link href=/js/chunk-5c443916.532601c7.js rel=prefetch>
    <link href=/js/chunk-66a740e2.0e8a4587.js rel=prefetch>
    <link href=/js/chunk-718e983e.eb32ef2a.js rel=prefetch>
    <link href=/js/chunk-7f5a2269.c072ff70.js rel=prefetch>
    <link href=/js/chunk-7f5ce79d.bbc00b18.js rel=prefetch>
    <link href=/js/chunk-7fb6f260.ceaee600.js rel=prefetch>
    <link href=/js/chunk-b2d4cf86.b35d8aad.js rel=prefetch>
    <link href=/js/chunk-bd950cb4.b50b509d.js rel=prefetch>
    <link href=/js/chunk-cac4abb6.45fe0a67.js rel=prefetch>
    <link href=/js/chunk-f6b27106.59fd6963.js rel=prefetch>
    <link href=/css/app.d6ff98e0.css rel=preload as=style>
    <link href=/css/chunk-vendors.44e1b2de.css rel=preload as=style>
    <link href=/js/app.a52c5f2e.js rel=preload as=script>
    <link href=/js/chunk-vendors.f90c1159.js rel=preload as=script>
    <link href=/css/chunk-vendors.44e1b2de.css rel=stylesheet>
    <link href=/css/app.d6ff98e0.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but lk-shop doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
 
<script src=https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js></script>
<script src=/js/chunk-vendors.f90c1159.js></script>
<script src=/js/app.a52c5f2e.js></script>
</body>
</html>